<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ToDo-Timer By Kirill Novgorodtsev</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <!-- Start App -->
  <div class="app_main" id="app">
    <div class="header">
      <a href="main.html" class="logo">Главная</a>

      <a href="index.html" class="logo">Приложение</a>

      <a href="login.html" class="logo login">Войти</a>


    </div>
    <div class="container">

      <h2>
        <span>Завершенные</span>
        <span class="mask-num">{{ completeList.length }}</span>
      </h2>
      <ul class="mask-list">

        <li style="background-color: #b7f7ce;" class="limask" v-for="(task, index) in completeList" :key="task.id">
          <div style="width: 125px;" class="title_task">
            <span>{{ task.name }}</span>

          </div>

          <div class="Graf">
            <!-- <h4 id="scrollspyHeading2">Версия 2.8.5</h4> -->
            <span class="foo" data-delighter>
              <!-- <br><br><br> -->
              <canvas class="child" id="myChart"></canvas>
            </span>
          </div>


          <ul class="apps">
            <li v-for="app in task.apps" style="display: flex; flex-direction: column;" class="apps_i_btn">
              <!-- <input checked type="checkbox" /> -->
              <span class="">{{ app }}</span>
            </li>

            <button class="btn-remove" v-on:click="removeMask(task.id , 'complete')">Удалить</button>

          </ul>


        </li>

      </ul>


    </div>
  </div>
  <!-- End App -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue-timers/dist/vue-timers.umd.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script src="./app.js"></script>
  <script>

    setTimeout(() => {
      const ctx = document.getElementById('myChart');
      const ctx1 = document.querySelectorAll('#myChart');

      function getCookie(name) {
        let matches = document.cookie.match(new RegExp(
          "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
      }
      let user = getCookie('user')
      axios.get(`https://todotaskmaster.space/api/all-tasks/?user=${user}`).then((response) => {
        // console.log(response)
        let completeList = response.data.filter(item => (item.is_completed == true))
        for (let i = 0; i < completeList.length; i++) {
        
          let apps_l = completeList[i].apps.map(el => Object.values(el))
          let result = []
          apps_l.forEach(el => {
            result.push(el[0])
          })
          completeList[i].apps = result
          console.log(completeList[i].apps)
          data = Array.from({ length: result.length }, () => Math.floor(Math.random() * Math.floor(Math.random() * 1000 * 0.3673434571354723645812548254555546712451846756781234524673542)));
      console.log(111111111111,result, data)
      
          new Chart(ctx1[i], {
          type: 'polarArea',
          data: {
            // labels: data.versions ,
            labels: result,
            datasets: [{
              label: "MINUTES",
              // data: data_counts,
              data: data,
            }]
          },
          options: {
            responsive: true,

            indexAxis: 'y',

          }
        });

        }
        


      })

      

    }, 400)

    function getCookie(name) {
      let matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
      ));
      return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    if (getCookie('user')) {

      document.querySelector('.login').innerHTML = getCookie('user')
    } else {
      document.querySelector('.login').innerHTML = 'Вход'
    }



  </script>
</body>

</html>